
# Raw results files (TARed)
Test.txt
Train.txt
Reference.txt
refWeights.txt
val_SwarmTCR_out.txt
val_TCRdist_out.txt
val_SwarmTCR_out.txt.scores
 
# Old files
prediction.R
prediction-reference-processing.R
experimental-data-processing.R
prediction-results-processing.R

# Testing files
high-confidence-generated-negatives-old/
high-confidence-generated-negatives-no-KLG/

# Confidential experimental data files
lc-cd4-cd8_paired*
lc-cd8_paired*
mecfs-cd4-cd8_paired*
mecfs-cd8_paired*
SwarmTCR-results.csv
TCRdist-results.csv